* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom center;
}

.main-visual-text {
  font-size: 32px;
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.menu1 {
  border-bottom: 1px solid #6c6b6b;
  padding: 30px;
}

.menu2 {
  border-bottom: 1px solid #6c6b6b;
  padding: 30px;
}

.menu3 {
  border-bottom: 1px solid #6c6b6b;
  padding: 30px;
}

.menu4 {
  border-bottom: 1px solid #6c6b6b;
  padding: 30px;
}
